[submodule "doom"]
	path = doom
	url = git@github.com:yanboyang713/doom.git
[submodule "chadwm"]
	path = metaWM
	url = git@github.com:yanboyang713/chadwm.git
[submodule "blog"]
	path = blog
	url = git@github.com:yanboyang713/yanboyang713.github.io.git
